.container{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height:100%;
    display: flex;
    margin-top: 60px;
}
.content-mian{
    width: calc(100% - 320px );
    height: 100%;
    background-color: skyblue;
    overflow-y: auto;
    margin-left: 320px;
}